.course-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.course-list li {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.course-list li h3 {
  margin: 0;
}

.course-list li p {
  margin: 5px 0;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  max-width: 1200px;
  margin: 20px auto;
}

html, body {
  height: 100%;
  margin: 0;
}

.opaque-navbar {
  background-color: rgba(255, 255, 255, 0.9);
}

.main-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding-top: 60px;
}
