.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

/* Change the font family and color of the brand link */
.navbar-brand {
  font-family: 'Space Grotesk', sans-serif; /* Change to your desired font */
  color: #000000 !important; /* Change to your desired color */
  font-size: 24px; /* Adjust font size as needed */
}

/* Change the font family and color of the nav links */
.nav-link {
  font-family: 'Arial', sans-serif; /* Change to your desired font */
  color: #959090 !important; /* Change to your desired color */
  font-size: 16px; /* Adjust font size as needed */
}

.navbar-logo {
  width: 30px;
  height: 30px;
}
