.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

.btn {
  margin-top: 10px;
}

.flash-messages-container {
  position: relative;
  z-index: 1050;
  margin-top: 60px;
}

.custom-animation {
  animation-duration: 5s;
  animation-delay: 0.5s;
}
